<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
   <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css" rel="stylesheet" />
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
   <title>Document</title>
</head>
<body class="">
   <!--Main Navigation-->
      <!-- navBar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
         <div class="container">
             <a class="navbar-brand" href="#!">FIRST BLOG</a>
             <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                 data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                 aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
                 <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                     <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                     <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                     <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                     <li class="nav-item"><a class="nav-link" href="/signup">Signiup</a></li>
                     <li class="nav-item"><a class="nav-link" href="/signin">Signin</a></li>
                     <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Blog</a></li>
                 </ul>
             </div>
         </div>
     </nav>
     <!-- container -->
         <div class=" d-flex  align-items-center justify-content-center mt-5 ">
            <div class="container">
               <div class="row d-flex justify-content-center ">
                  <div class="col-xl-5 col-md-8 ">
                     <form action="/signIn" method="post" class="bg-white  rounded-5 shadow-5-strong p-5">
                        <span class=" text-danger text-center">
                           <%= msg %>
                        </span>
                        <!-- Email input -->
                        <div class="form-outline mb-4"> 
                           <label class="form-label" for="username">Username</label>
                          <input type="text" id="username" class="form-control" name="userName">
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                           <label class="form-label" for="Password">Password</label>
                           <input type="password" id="Password" class="form-control" name="password">
                        </div>

                        <!-- 2 column grid layout for inline styling -->
                        <input type="submit" class="btn btn-primary btn-block mb-2" value="Sign in">
                        <a href="/signup">signup</a>
                        <a href="/">Home</a>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   <script>
      type = "text/javascript"
      src = "https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.js"
   </script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
   <script src="/javascript/loginpage.js"></script>
</body>

</html>